* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator {
    background-color: #393646;
    padding: 15px;
    border-radius: 10px;

}

.display input {
    background-color: transparent;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 60px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;

}

.calculator-buttons {
    background-color: transparent;
    color: floralwhite;
    padding: 3px 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 2px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}

.calculator-buttons input {
    border: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.equalbtn {
    grid-column-start: -3;
    grid-column-end: -1;
    background-color: orange;
    border: 2px solid orange;
    width: 7rem !important;
    border-radius: 2rem !important;
}

#right {
    background-color: orange;
    border: 2px solid orange;
}